* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.25rem;
}

body>header {
    border-top: 10px solid rgb(80, 77, 255);
    padding-top: 0.125em;
}

main {
    margin-top: 4em;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgb(79, 77, 255);
    text-transform: uppercase;
}

main,
.brandname,
nav {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.brandname,
nav {
    margin-top: 0;
    margin-bottom: 0;
}

.brandname {
    font-size: 2.5rem;
    text-transform: capitalize;
    text-align: center;
    color: white;
    background-color: rgb(79, 77, 255);
    padding: 0.125em 0;
}

p {
    line-height: 1.5;
}

nav {
    margin-top: 0;
    background-color: rgb(226, 226, 226);
}

nav ul {
    padding: 0.125em;
    margin: 0 auto;
    width: fit-content;

}

nav li {
    list-style: none;
    border-bottom: 4px solid rgb(79, 77, 255);
    padding: 0.125em 0.5em;
    margin-left: 0.125em;
    display: inline-block;
    color: rgb(79, 77, 255);
}

nav a {
    display: block;
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: auto;
}

nav li:hover {
    background-color: rgb(79, 77, 255);
    border-bottom: 4px solid white;
    color: white;
}

nav li:hover a {
    color: white;
}

main section {
    width: 80%;
    margin-right: 2em;
}

aside {
    width: 30%;
    max-width: 500px;
    margin-right: auto;
    background-color: rgb(226, 226, 226);
    padding: 0.25em;
    height: fit-content;
    border-top: 8px solid rgb(80, 77, 255);
    border-bottom: 8px solid rgb(80, 77, 255);
}

aside h3 {
    text-align: center;
}



footer p {
    font-size: 0.75rem;
}

/* Layout */
.container-row {
    display: flex;
    flex-flow: row nowrap;
}

.container-col {
    display: flex;
    flex-flow: column nowrap;
}

.article-meta {
    margin-bottom: 1em;
}

.author {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: flex-start;
    font-size: 1rem;
}

.related {
    max-width: 300px;
    margin: 0.5em auto;
}

.related a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(79, 77, 255);
}

.related img {
    width: 100%;
    max-width: 75px;
    margin-right: 1em;
    align-self: center;
}

.post-title {
    color: rgb(79, 77, 255);
    text-align: left;
    font-size: 2.125rem;
}

.post-image {
    width: 100%;
    max-width: 960px;
    height: auto;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0 0 18px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 18px 4px rgba(26, 26, 26, 0.507),
        -3px -3px 18px 4px rgba(79, 77, 255, 0.507);
    border-radius: 20px;
    margin-bottom: 2em;
}

.author-pic {
    width: 100%;
    max-width: 50px;
    margin-right: 1em;
}